p img:only-child{
    width: auto;
    text-align: inherit;
}

.twocols{
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-gap: 10px;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-width: 45%;
}

code {
    background: #b6f5f5;
}

main {
  margin-left: 2em;
  margin-right: 2em;
}

.page>h1, .page>ul {
  margin-left: 1em;
  margin-right: 1em;
}

body {    
  background: var(--bgurl) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 1080px;
  min-height: 100%;
}


