@font-face {
  font-family: 'SiYuanSong';
  src: local('Source Han Serif CN'), local('Source Han Serif SC'),
    url('fonts/Noto_Serif_SC/NotoSerifSC-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SiYuanSong';
  src: local('Source Han Serif CN'), local('Source Han Serif SC'), 
    url('fonts/Noto_Serif_SC/NotoSerifSC-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SiYuanEn';
  src: local('Source Sans Pro'), local('Source Sans Pro'),
    url('fonts/Noto_Sans/NotoSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SiYuanEn';
  src: local('Source Sans Pro'), local('Source Sans Pro'),
    url('fonts/Noto_Sans/NotoSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SiYuanEn';
  src: local('Source Sans Pro'), local('Source Sans Pro'), 
    url('fonts/Noto_Sans/NotoSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SiYuanEn';
  src: local('Source Sans Pro'), local('Source Sans Pro'), 
    url('fonts/Noto_Sans/NotoSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

body.home, body.en, body.cn {
  font-family: 'SiYuanEn', 'SiYuanSong', 'SiYuanHei';
}
