p img:only-child{
    width: auto;
    text-align: inherit;
}

.twocols{
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-gap: 10px;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-width: 45%;
}

code {
    background: #b6f5f5;
}

main {
  margin-left: 2em;
  margin-right: 2em;
}

nav li, footer {
  background-color: rgb(233, 246, 241);
}

.page {
  background-color: rgb(233, 246, 241);
}

.page {
  padding-bottom: 0.67em;
}

.page-title>h1, .page>ul {
  margin-left: 1em;
}

.page-title{
  text-decoration: none;
  padding: 2px;
}

body {    
  background: var(--bgurl) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 1080px;
  min-height: 100%;
}

main p:first-of-type{
  padding-top: 1.25rem;
}
