{{ partial "header.html" . }}

<div class="page">


{{if not .IsHome }}
<div class="page-title">
  <h1>{{ .Title | markdownify }}</h1>
</div>
{{ end }}

{{ .Content }}

<!-- {{ $currentPage := . }} -->
{{ if .IsHome }}
{{ $.Scratch.Set "pages" .Site.RegularPages }}
{{ else }}
{{ $.Scratch.Set "pages" .Pages }}
{{ end }}
<ul>
    {{ range (where ($.Scratch.Get "pages") "Section" "!=" "") }}
  <li>
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>

</div>

{{ partial "footer.html" . }}

