{{ partial "header.html" . }}

{{ $date := (.Date.Format "2006/01/02") }}
{{ $lastmod := (.Lastmod.Format "2006/01/02") }}

<div class="page">

<div class="article-title">
  <css-doodle use="var(--rule)" as-bg="" click-to-update=""></css-doodle>
  <div class="article-meta">
    <h1><span class="title">{{ .Title | markdownify }}</span></h1>
    <h2 class="author">
    {{ if .Params.author }}
        {{ .Params.author }}
    {{ else }}
        {{ .Site.Params.author }}
    {{ end }}
    </h2>
    {{ if .Params.date }}<h3 class="date">{{ .Date.Format "2006/01/02" }}</h3>{{ end }}
  </div>
</div>

<main>
{{ .Content }}
</main>

{{ if ne $lastmod $date }}
  <hr>
  <p class="update"> Edited on {{ .Lastmod.Format "2006/01/02" }}</p>
  <hr>
{{ end }}

<section class="comments">
  <script src="https://utteranc.es/client.js"
  repo="fyemath/Other-blogs-comments"
  issue-term="pathname"
  theme="github-light"
  crossorigin="anonymous"
  async>
</script>
</section>


</div>

{{ partial "footer.html" . }}
